body {
    background-color: darkslategrey;
    color: azure;
    font-size: 1.1em;
    font-family: arial;
    text-align: center;

}

h1 {
    letter-spacing: 7px;
}

.img-weather {
    width: 800px;
    height: 200px;
    /* background-image: url(https://i.imgur.com/LdEJTpK.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center */
}

/* .Low-usage {
    color: green;
}

.Medium-usage {
    color: black;
}

.High-usage {
    color: red;
} */