body {
    background-color: darkslategrey;
    color: azure;
    font-size: 1.1em;
    font-family: arial;
    text-align: center;
    position: relative;
    top: -200px

}

h1 {
    letter-spacing: 7px;
}

#current-city {
    background-color: rgb(20, 207, 220) ; /* Green */
    border: none;
    color: white;
    padding: 14px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.img-weather {
    width: 1100px;
    height: 200px;
    /* background-image: url(https://i.imgur.com/LdEJTpK.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center */
    position:  relative;
        /* top: +10px */
}

.Low-usage {
    color: limegreen;
}

.Medium-usage {
    color: cornflowerblue;
}

.High-usage {
    color: darkred;
}